<?xml version="1.0" encoding="utf-8" ?>
<phpunit bootstrap="bootstrap.php">
	<testsuite name='Interceptor'>
		<directory suffix='.php'>./</directory>
	</testsuite>
	<!-- filters for code coverage -->
	<filter>
		<whitelist>
			<directory suffix=".php">../src</directory>
		</whitelist>
	</filter>
</phpunit>
